*{
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 h5 h6 p ul{
    margin: 0;
    padding: 0;
}
header{

width: 80%;

/* background: aqua; */

margin: auto;

display: flex;

justify-content: space-between;

padding: 50px 0;
}
.logo{

width: 20%;

/* background: antiquewhite; */
}
.menu{
    
}
.menu p{
    
font-size: 25px;
}
.banner{

height: 500px;

background: #292c34;

text-align: center;
}
.banner h1{
    
color: #ffffff;
    
font-weight: 500;
    
/* text-align: center; */
    
padding-top: 200px;
    
padding-bottom: 50px;
    
font-size: 50px;
}
.banner p{
    
/* text-align: center; */
    
color: #ffffff;
    
font-size: 24px;
    
padding-bottom: 20px;
}
.banner button{
    
padding: 7px 7px;
    
font-size: 14px;
}
.web_graphic{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

/* background: aqua; */
}
.web{

width: 33.33%;

text-align: center;

padding-top: 50px;
}
.web a{

font-size: 50px;
}
.web h4{

font-size: 30px;

color: #292c34;

padding-top: 20px;

padding-bottom: 20px;
}
.web p{

font-size: 20px;

color: #97999b;

padding-bottom: 60px;
}
.red{

width: 41%;

margin: auto;

text-align: center;

padding-bottom: 50px;
}
.red p{
    
font-size: 25px;
    
color: #fb6e52;
}
.red p i{
    
}

.allimg{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.cool{

width: 30%;

text-align: center;
}
.cool img{width: 100%;height: 80%;}
.cool h5{
    
padding: 18px 0;
    
font-size: 30px;
    
color: #292c34;
}
.cool p{
    
text-transform: uppercase;
    
color: #97999b;
    
padding-bottom: 60px;
    
font-size: 20px;
}
.from{

/* background: #f9f9f9; */

height: 730px;

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.design{

width: 47%;

text-align: center;
}
.design img{
    
width: 100%;
    
height: 70%;
}
.design h5{
    
padding: 40px 0;
    
font-size: 25px;
}
.design p{
    
font-size: 21px;
}
footer{

background: #292c34;
}
.footer_content{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 50px 0;
}
.logo_i{

display: flex;

/* padding: 50px 0; */
}
.logo_i img{
    
}
.logo_i p{
    
margin-left: 32px;
    
font-size: 20px;
color: #797c82;
}
.menu{

/* display: flex; */
}
.menu ul{
    
display: flex;
    
list-style: none;

}
.menu li{
    
margin-left: 40px;
}
.menu a{
    color: white;
    
}
.one_from{
    background-color: #f9f9f9;
}
.one_from h1{
    
text-align: center;
    
padding: 100px 0;
    
text-transform: uppercase;
    
color: #292c34;
    
font-size: 30px;
text-decoration: underline;
}
